include README.md pyproject.toml
recursive-include src/vcgc *.py *.json
prune archive
prune datasets
prune docs
prune examples
prune experiments
prune native
prune notebooks
prune results
prune scripts
prune tests
prune tools
prune tweedledum
prune saha-belletti
prune vcgc
prune data
prune images
global-exclude *.pyc *.so
