include README.md pyproject.toml
recursive-include src/logique *.py *.json
prune datasets
prune docs
prune examples
prune experiments
prune external
prune dump
prune tests
prune tools
global-exclude *.pyc *.so
